.libre-franklin{
    font-family: 'Libre Franklin', sans-serif;
}
.ubuntu{
    font-family: 'Ubuntu', sans-serif;
}
.comfortaa{
    font-family: 'Comfortaa', cursive;
}
body{
    background-color: #262626;
    color: #dedede;
}
hr{
    background-color: #cccccc;
}
#result{
    height:330px;
    width:430px;
}
#webcam{
    height:400px;
    width:430px;   
}